footer {
    height: 5rem;
    bottom: 0;
    position: inherit;
    .content {
        width: 100%;
        margin: 0 1rem;
    }
    button {
        padding: 0;
        min-width: 70px;
        line-height: 20px;
        a {
            text-decoration: none;
            color: #607D8B;
        }
    }
}
