@import '../shared/styles/colors.scss';
.navbar {
    background-color: $g0;
    position: fixed;
    width: 100%;
    z-index: 1040;
}

a {
    text-decoration: none;
}

mat-icon,
.mat-button[disabled] {
    color: $g6;
}

.button-menu-link {
    display: flex;
}

.menu-login {
    min-width: 15rem;
    text-align: center;
}

.login-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-menu-login {
    display: inline-block;
    width: 100%;
}

.login-button {
    max-width: 15rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.dropdown-menu {
    background: $g0;
}

.full-width {
    width: 100%;
}
