<nav class="nav-top">
    <button mat-mini-fab (click)="menuOpen = !menuOpen" class="button-show-menu">
        <mat-icon>menu</mat-icon>
    </button>
</nav>
<nav *ngIf="menuOpen" [@leftNav] class="nav-left">
    <div *ngIf="!logged" class="nav-profile">
        <div class="nav-profile-show">
            <div class="nav-image-profile">{{setName('nombre del susodicho')}}</div>
            <p class="nav-user-name">
                nombre del susodicho
            </p>
        </div>
        <img src="assets/img/menu.png" class="nav-profile-image" alt="image-menu">
    </div>
    <div class="nav-links">
        <button [routerLink]="['/']" mat-button class="nav-link">
            <mat-icon> home </mat-icon> Inicio
        </button>
        <button [routerLink]="'/calendario'" mat-button class="nav-link">
            <mat-icon> date_range </mat-icon> Calendario
        </button>
        <button *ngIf="!logged" [routerLink]="'/auth'" mat-button class="nav-link">
            <mat-icon> person </mat-icon> Login/Registro
        </button>
    </div>
</nav>
