<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu"
        aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
        <div class="navbar-nav mr-auto">
            <button mat-button class="button-menu-link" [routerLink]="['/']">
                <mat-icon>home</mat-icon>
                Inicio
            </button>
            <div matTooltip="Inicia sesión para ver esta zona" [matTooltipDisabled]="user">
                <button mat-button class="button-menu-link" [disabled]="!user" [routerLink]="['/calendario']">
                    <mat-icon>perm_contact_calendar</mat-icon>
                    Calendario
                </button>
            </div>
        </div>
        <div class="navbar-nav dropdown" *ngIf="!user; else userShow">
            <button mat-button class="button-menu-link login-button" id="dropdownMenuLogin" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <mat-icon>power_settings_new</mat-icon>
                Iniciar sesión
            </button>
            <div class="dropdown dropdown-menu dropdown-menu-right menu-login" aria-labelledby="dropdownMenuLogin">
                <form class="login-menu">
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="email" placeholder="Correo electronico o nick" [(ngModel)]="email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="password" type="password" placeholder="Contraseña" [(ngModel)]="password">
                    </mat-form-field>
                    <button [disabled]="getDisableLogin()" mat-button (click)="login()" class="button-menu-link button-menu-login">Iniciar sesión</button>
                </form>
                <div class="dropdown-divider"></div>
                <p>
                    ¿Nuevo en Isofocus?
                </p>
                <button mat-button data-toggle="modal" data-target="#registerModal">Regístrate</button>
                <!-- <a class="dropdown-item" href="#">Forgot password?</a> -->
            </div>
        </div>
        <ng-template #userShow>
            <div class="navbar-nav dropdown">
                <button mat-button class="button-menu-link login-button" id="dropdownUserLogged" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <mat-icon>person</mat-icon>
                    {{user.name + ' ' + user.surname}}
                </button>
                <div class="dropdown dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserLogged">
                    <button mat-button (click)="logout()" class="button-menu-link button-menu-login">
                        <mat-icon>power_settings_new</mat-icon>
                        Cerrar sesión
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</nav>

<div class="modal fade" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrar</h4>
                <mat-icon class="material-icons close-modal" data-dismiss="modal"> close </mat-icon>
            </div>
            <div class="modal-body">
                <form class="full-width">
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="name" placeholder="Nombre" [(ngModel)]="userRegister.name">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="surname" placeholder="Apellidos" [(ngModel)]="userRegister.surname">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="email" type="email" placeholder="Correo" [(ngModel)]="userRegister.email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="password" type="password" placeholder="Contraseña" [(ngModel)]="userRegister.password">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="password2" type="password" placeholder="Repite contraseña" [(ngModel)]="password2">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="nick" placeholder="Nick" [(ngModel)]="userRegister.nick">
                    </mat-form-field>
                </form>
            </div>
            <div class="modal-footer">
                <div [matTooltip]="cantRegister()" [matTooltipDisabled]="!cantRegister()">
                    <button type="button" mat-button class="save-button" [disabled]="cantRegister()" (click)="register()" data-dismiss="modal">Registrar</button>
                </div>
                <button type="button" mat-button data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
