<div class="main">
    <img src="assets/img/logo.png" class="logo-main" alt="logo">
    <h1>Isofocus</h1>
    <p>
        Con Isofocus podrás grabar y guardar en modo texto para poder leer más adelante, descargarlo en formato .txt o copiar el
        texto grabado hasta el momento, el texto que está grabando se añade automáticamente al no recibir más audio, pudiendo
        editar el texto mientras se graba o una vez guardado desde la sección de calendario.
    </p>
    <p>
        Para poder guardar un historial de todas las grabaciones en texto, registrate y ya podrás acceder a la sección de calendario
        y podrás darle al botón de guardar.
    </p>
    <p>
        <strong>Solo funciona en el navegador Chrome.</strong>
    </p>
</div>
