@import '../shared/styles/global.scss';
.main {
    text-align: justify;
    margin: 3.5rem 0 1rem 0;
    .logo-main {
        display: block;
        margin: 0 auto;
        p {
            text-align: justify;
        }
    }
}

@include paddingCenter('.main');
