@import '../../shared/styles/colors.scss';
#fullCalendar {
    margin: 3.5rem 20% 1rem 20%;
}

.full-width {
    width: 100%;
}

.text {
    color: $g7;
    font-size: 13px;
}

@media screen and (max-width: 800px) {
    #fullCalendar {
        margin: 3.5rem 1rem 1rem 1rem;
    }
}
