<div id="fullCalendar"></div>

<div class="edit-modal" *ngIf="editModalOpen">
    <div class="modal-container">
        <div class="modal-edit-title">
            <h4 class="modal-title" *ngIf="textEdit">Editando {{textEdit.title}}</h4>
            <mat-icon class="material-icons close-modal" (click)="editModalOpen = !editModalOpen"> close </mat-icon>
        </div>
        <div class="modal-edit-body">
            <form class="form" *ngIf="textEdit">
                <mat-form-field class="full-width">
                    <input autocomplete="off" class="full-width" matInput name="title" placeholder="Titulo" [(ngModel)]="textEdit.title">
                </mat-form-field>
                <div>
                    <span class="text">Texto</span>
                    <p #pText contentEditable> {{ textEdit.text }} </p>
                </div>
            </form>
        </div>

        <div class="modal-edit-footer">
            <button type="button" mat-button class="save-button" (click)="updateText()">Guardar</button>
            <button type="button" mat-button (click)="editModalOpen = !editModalOpen">Cerrar</button>
        </div>
    </div>
    <div class="full-div-modal" (click)="editModalOpen = !editModalOpen"></div>
</div>
