@import '../../shared/styles/global.scss';
#fullCalendar {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.full-width {
    width: 100%;
}

.text {
    color: $g7;
    font-size: 13px;
}

.modal-edit-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.close-modal {
    color: $red;
    cursor: pointer;
}

@include paddingCenter('#fullCalendar');
