@import 'shared/styles/global.scss';
.modal-bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 999999;
    color: $white;
    padding: .5rem 1rem;
    background: $red;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transform: translate(-50%);
}

.deshacer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-type-event {
    margin: 0 .2rem;
    padding: .1rem.2rem;
    border-radius: 3px;
}
