/*
 * Colors
 */

$g0: #eceff1;
$g1: #CFD8DC;
$g2: #B0BEC5;
$g3: #90A4AE;
$g4: #78909C;
$g5: #607D8B;
$g6: #546E7A;
$g7: #455A64;
$g8: #37474F;
$g9: #263238;
$green:#4CAF50;
$red: #f44336;
$white: white;
/*
 * margins y padding
 */

$borderRadius: .4rem;
$topSeparation: 3.25rem;
$menuWidth: 15rem;
/*
 * functions
 */

@mixin paddingCenter($class) {
    #{$class} {
        padding-right: 20%;
        padding-left: 20%;
    }
    @media screen and (max-width: 991px) {
        #{$class} {
            padding-right: .5rem;
            padding-left: .5rem;
        }
    }
}
