@import '../shared/styles/colors.scss';
.controls {
    margin-bottom: .7rem;
    display: flex;
    justify-content: space-between;
}

.listener-container {
    padding: 1rem;
    background-color: $g6;
    margin-top: 3.5rem;
}

.result {
    padding: .2rem;
    min-height: 1.7rem;
    max-height: 10rem;
    overflow-y: auto;
    border-radius: .2rem;
    background-color: $g1;
}

.recognizing {
    color: $g6;
}

p:hover,
p:focus {
    outline: none;
}

.actual-text,
.recognizing {
    padding: .1rem 0;
    display: inline;
}

.mic {
    cursor: pointer;
}

.save-button {
    color: $green !important;
}

.close-modal {
    padding: 5px;
    cursor: pointer;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}
