<div class="listener-container">
    <div class="controls">
        <div class="left-control">
            <button mat-mini-fab [ngClass]="{'mic-red' : recognizing, 'mic-green': !recognizing}">
                <mat-icon (click)="listen()" class="material-icons mic">
                    {{recognizing ? 'mic_off': 'mic'}}
                </mat-icon>
            </button>
        </div>

        <div class="right-control">
            <button matTooltip="Exportar txt" mat-mini-fab>
                <mat-icon (click)="download('txt')" class="material-icons">
                    book
                </mat-icon>
            </button>
            <button matTooltip="Copiar" mat-mini-fab>
                <mat-icon (click)="download('copy')" class="material-icons">
                    content_copy
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="result">
        <p class="actual-text" contentEditable> {{ actualText }} </p>
        <p class="recognizing"> {{ textRrecognizing }}</p>
    </div>
</div>
