.controls {
    padding: .2rem;
    background-color: blue;
}

.listener-container {
    padding: 1rem;
    background-color: red;
}

.result {
    padding: .2rem;
    background-color: yellow;
}

.recognizing {
    color: #BDBDBD;
}

p:hover,
p:focus {
    outline: none;
}

.actual-text,
.recognizing {
    padding: .1rem 0;
    display: inline;
}

.mic {
    cursor: pointer;
}
