@import '../shared/styles/global.scss';
.listener-container {
    padding: 1rem;
    background-color: $g6;
    margin-top: $topSeparation;
    margin-bottom: 1rem;
    border-radius: .4rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .mic {
        cursor: pointer;
    }
    .controls {
        margin-bottom: .7rem;
        display: flex;
        justify-content: space-between;
        .right-control {
            display: flex;
            div {
                padding: 0 .1rem;
            }
        }
    }
    .result {
        padding: .2rem;
        min-height: 1.7rem;
        max-height: 10rem;
        overflow-y: auto;
        border-radius: .2rem;
        background-color: $g1;
        .actual-text,
        .recognizing {
            padding: .1rem 0;
            display: inline;
        }
        .recognizing {
            color: $g6;
        }
        p:hover,
        p:focus {
            outline: none;
        }
    }
}

.full-width {
    width: 100%;
}

mat-form-field {
    width: 5rem;
    margin-left: .5rem;
    margin-right: -5rem;
}

@include paddingCenter('.listener-container');
