<div class="listener-container">
    <div class="controls">
        <div class="left-control">
            <button (click)="listen()" matTooltip="{{recognizing ? 'Parar': 'Grabar'}}" mat-mini-fab [ngClass]="{'mic-red' : recognizing, 'mic-green': !recognizing}">
                <mat-icon class="material-icons mic"> {{recognizing ? 'mic_off': 'mic'}} </mat-icon>
            </button>
            <mat-form-field>
                <mat-select placeholder="Idioma" (change)="changeLanguage()" [(value)]="selectedLanguage">
                    <mat-option *ngFor="let language of languages; let i = index" [value]="i">
                        {{ language.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="middle-control">
            <div [matTooltip]="user ? 'Graba algo para guardar' : 'Inicia sesión para poder guardar'" [matTooltipDisabled]="user && actualText !== ''">
                <button [disabled]="actualText === '' || !user" mat-mini-fab matTooltip="Guardar" (click)="modalTitleOpen = !modalTitleOpen"
                    class="save-button">
                    <mat-icon> save </mat-icon>
                </button>
            </div>
        </div>

        <div class="right-control">
            <div matTooltip="Graba algo para descargar" [matTooltipDisabled]="actualText !== ''">
                <button (click)="download('txt')" [disabled]="actualText === ''" matTooltip="Exportar txt" mat-mini-fab>
                    <mat-icon> book </mat-icon>
                </button>
            </div>
            <div matTooltip="Graba algo para copiar" [matTooltipDisabled]="actualText !== ''">
                <button (click)="download('copy')" [disabled]="actualText === ''" matTooltip="Copiar" mat-mini-fab>
                    <mat-icon> content_copy </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="result">
        <p class="actual-text" #pText contentEditable> {{ actualText }} </p>
        <p class="recognizing"> {{ textRrecognizing }}</p>
    </div>
</div>

<div *ngIf="modalTitleOpen" class="modal-listener">
    <div class="modal-container">
        <form class="form-title">
            <mat-form-field class="full-width">
                <input autocomplete="off" matInput name="title" placeholder="Titulo" [(ngModel)]="title">
            </mat-form-field>
        </form>
        <div class="modal-title-footer">
            <button type="button" mat-button class="save-button" [disabled]="title === ''" (click)="saveTitle()">Guardar</button>
            <button type="button" mat-button (click)="modalTitleOpen = !modalTitleOpen">Cerrar</button>
        </div>
    </div>
    <div class="full-div-modal" (click)="modalTitleOpen = !modalTitleOpen"></div>
</div>
