.controls {
    margin-bottom: .7rem;
    display: flex;
    justify-content: space-between;
}

.listener-container {
    padding: 1rem;
    background-color: #546E7A;
    margin-top: 3.5rem;
}

.result {
    padding: .2rem;
    min-height: 1.7rem;
    max-height: 10rem;
    overflow-y: auto;
    border-radius: .2rem;
    background-color: #CFD8DC;
}

.recognizing {
    color: #546E7A;
}

p:hover,
p:focus {
    outline: none;
}

.actual-text,
.recognizing {
    padding: .1rem 0;
    display: inline;
}

.mic {
    cursor: pointer;
}
