<div class="listener-container">
    <div class="controls">
        <div class="left-control">
            <button (click)="listen()" matTooltip="{{recognizing ? 'Parar': 'Grabar'}}" mat-mini-fab [ngClass]="{'mic-red' : recognizing, 'mic-green': !recognizing}">
                <mat-icon class="material-icons mic"> {{recognizing ? 'mic_off': 'mic'}} </mat-icon>
            </button>
        </div>

        <div class="middle-control">
            <div [matTooltip]="user ? 'Graba algo para guardar' : 'Inicia sesión para poder guardar'" [matTooltipDisabled]="user && actualText !== ''">
                <button [disabled]="actualText === '' || !user" mat-mini-fab matTooltip="Guardar" data-toggle="modal" data-target="#saveTitle"
                    class="save-button">
                    <mat-icon> save </mat-icon>
                </button>
            </div>
        </div>

        <div class="right-control">
            <button (click)="download('txt')" matTooltip="Exportar txt" mat-mini-fab>
                <mat-icon> book </mat-icon>
            </button>
            <button (click)="download('copy')" matTooltip="Copiar" mat-mini-fab>
                <mat-icon> content_copy </mat-icon>
            </button>
        </div>
    </div>
    <div class="result">
        <p class="actual-text" #pText contentEditable> {{ actualText }} </p>
        <p class="recognizing"> {{ textRrecognizing }}</p>
    </div>
</div>

<div class="modal fade" id="saveTitle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Titulo</h4>
                <mat-icon class="material-icons close-modal" data-dismiss="modal"> close </mat-icon>
            </div>
            <div class="modal-body">
                <form class="form">
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="title" placeholder="Titulo" [(ngModel)]="title">
                    </mat-form-field>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mat-button class="save-button" [disabled]="title === ''" (click)="saveTitle()" data-dismiss="modal">Guardar</button>
                <button type="button" mat-button data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
