@import '../../shared/styles/global.scss';
mat-icon,
.mat-button[disabled] {
    color: $g6;
}

.button-link {
    display: flex;
}

.register,
.login {
    min-width: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-login {
    display: inline-block;
    width: 100%;
}

.register-button,
.login-button {
    max-width: 15rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.full-width {
    width: 100%;
}

@include paddingCenter('.main-container');
