<div class="main-container">
    <mat-tab-group>
        <mat-tab label="Login">
            <div class="login-container">
                <form class="login">
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="email" placeholder="Correo electronico o nick" [(ngModel)]="email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="password" type="password" placeholder="Contraseña" [(ngModel)]="password">
                    </mat-form-field>
                    <button [disabled]="getDisableLogin()" mat-button (click)="login()" class="button-login">Iniciar sesión</button>
                </form>
            </div>

        </mat-tab>
        <mat-tab label="Registro">
            <div class="register-container">
                <form class="register">
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="name" placeholder="Nombre" [(ngModel)]="userRegister.name">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="surname" placeholder="Apellidos" [(ngModel)]="userRegister.surname">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="email" type="email" placeholder="Correo" [(ngModel)]="userRegister.email">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="password" type="password" placeholder="Contraseña" [(ngModel)]="userRegister.password">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="password2" type="password" placeholder="Repite contraseña" [(ngModel)]="password2">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input autocomplete="off" matInput name="nick" placeholder="Nick" [(ngModel)]="userRegister.nick">
                    </mat-form-field>
                    <button [matTooltip]="cantRegister()" [matTooltipDisabled]="!cantRegister()" type="button" mat-button class="register-button"
                        [disabled]="cantRegister()" (click)="register()" data-dismiss="modal">Registrar</button>
                </form>
            </div>

        </mat-tab>
    </mat-tab-group>

</div>
