/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'app/shared/styles/global.scss';
body {
    margin: 0;
}

*:focus {
    outline: 0px !important;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    margin-top: $topSeparation;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: $g0;
}

::-webkit-scrollbar-thumb {
    background-color: $g9;
    border-radius: .1rem;
}

.ng-trigger::-webkit-scrollbar-track,
.mat-input-element::-webkit-scrollbar-track,
.fc-scroller.fc-day-grid-container::-webkit-scrollbar-track,
.result::-webkit-scrollbar-track {
    margin-top: 0;
}

mat-form-field label,
mat-form-field .md-placeholder {
    color: $g7 !important;
}

.mat-form-field-ripple {
    background-color: $g7;
}

 :disabled,
 :disabled mat-icon {
    cursor: not-allowed !important;
}

.fc-event,
.fc-content {
    cursor: pointer;
    background-color: $g4;
    border-color: $g3;
}

.save-button {
    color: $green !important;
}

input {
    color: $g5;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
